body {

}

:root {
    --primary-color: #192a56;
    --seconday-color: #27ae60;
    font-family: 'Nunito', sans-serif;
}
 .navbar {
    background-color: #fff !important;
    border-bottom: 1px solid #ebebeb;
    box-shadow: 3px 1px 6px 2px #ebebeb;
   
}

section {
  padding: 40px 0;
}
section:nth-child(odd) {
    background-color: #eee !important;
}
section:nth-child(even) {
    background-color: #fff !important;
}
.section-heading {
    color: var(--primary-color);
    font-size: 26px;
}
.section-sub-heading {
    color: var(--seconday-color);
    font-size: 20px;
}
.card {
    background-color: #fff !important;
    box-shadow: 0px 1px 3px 1px #ddd;
}
    .card .card-title {
      color: var(--primary-color);
      font-size: 24px;
      font-weight: bold;
    }
    .card .card-text {
        color: var(--seconday-color);
        font-size: 26px;
        font-weight: bold;
    }
    .card .card-btn, .card .btn-block {
        background-color: var(--primary-color);
        color: #fff !important;
        border: none;
        font-weight: 600;
    }
    .card .card-btn {
      padding-left: 40px;
      padding-right: 40px;
    }
        .card .btn-block {
            width: 100%;
        }
        .card .card-btn:hover,
        .card .btn-block:hover {
            background-color: var(--seconday-color);
            color: #fff !important;
        }
    .card .text-price {
        /* margin-top: 52px; */
        color: var(--seconday-color);
        font-size: 22px;
        padding-left: 14px;
        font-weight: 600;
    }
    /* Why Choose Us */
    #why-choose-us {
    }
    #why-choose-us .col-md-6 h1 {
      padding-top: 90px;
      color: var(--primary-color);
    }
    #why-choose-us .col-md-6 p {
        line-height: 2;
        font-size: 16px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #why-choose-us .col-md-6 .btn {
      background-color: #eee !important;
      border: 1px solid #ddd;
      font-size: 16px;
      color: black;
      padding: 10px 40px;
    }
    #why-choose-us .col-md-6 i {
      color: var(--seconday-color);
      font-size: 22px;
    }
/* Why Choose Us */

/*Contact Form*/
#contact-form {

}
    #contact-form .form-row {
        background-color: #fff;
        padding: 20px;
        border: 1px solid #ddd;
        box-shadow: 1px 1px 6px 1px #ddd;
        margin-top: 25px;
    }

    #contact-form .btn-orderNow {
        background-color: var(--primary-color);
        color: #fff !important;
        border: none;
        font-weight: 600;
        padding-left: 40px;
        padding-right: 40px;
    }
        #contact-form .btn-orderNow:hover {
            background-color: var(--seconday-color);
            color: #fff !important;
        }
/*Contact Form*/

/* Footer */
#footer {
  padding-top: 30px;
}
    #footer h3 {
      color: var(--primary-color);
    }
    #footer ul li a:hover {
     text-decoration: underline !important;
     color: var(--seconday-color);
    }
    #footer .text-companyName {
        color: var(--seconday-color);
        font-weight: 600;
        font-size: 18px;
    }
/* Footer */