@model FoodieSite.ViewModels.LoginVM
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/login.css" rel="stylesheet" />

<section class="ftco-section">
		<div class="container">
			@*<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Login #08</h2>
				</div>
			</div>*@
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
		      	<div class="icon d-flex align-items-center justify-content-center">
						<span class="fa-regular fa-user" aria-hidden="true"></span>
		      	</div>
		      	<h3 class="text-center mb-4">Have an account?</h3>
					<form asp-action="Login" class="login-form">
		      		<div class="form-group">
							<input type="text" class="form-control rounded-left" placeholder="Username" asp-for="UserName" required>
		      		</div>
	            <div class="form-group d-flex">
							<input type="password" class="form-control rounded-left" placeholder="Password" asp-for="Password" required>
	            </div>
	            <div class="form-group d-md-flex">
	            	@*<div class="w-50">
	            		<label class="checkbox-wrap checkbox-primary">Remember Me
							<input type="checkbox" checked>
							<span class="checkmark"></span>
						</label>
					</div>*@
					<div class="w-50 text-md-left">
						<a href="#">Forgot Password</a>
					 </div>
							<div class="w-50 text-md-right">
								<a href="#">Create New Account</a>
							</div>
	            </div>
	            <div class="form-group">
	            	<button type="submit" class="btn btn-primary rounded submit p-3 px-5">Login</button>
	            </div>
	          </form>
	        </div>
				</div>
			</div>
		</div>
	</section>

@*<h1>Login</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
*@
